body {
  background-color: #ce93d8;
  font-family: "Raleway", Arial, sans-serif;
  background: linear-gradient(to bottom, #33ccff 0%, #99ff99 57%);
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 50%;
}

.topnav {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
  top: 0;
  list-style: none;
}

.contentContainer {
  border: 3px dotted red;
}

.main {
  white-space: pre-line;
  position: relative;
  float: left;
  border: 3px solid green;
}

.main2 {
  float: right;
  border: 3px solid yellow;
}

.navItem {
  text-decoration: none;
}

.listItem {
  padding: 5px;
  background-color: wheat;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  opacity: 5;
  border-right: 1px solid black;
}

.headerTitle {
  font-weight: 600;
}

.headerContainer {
  display: flex;
  justify-content: space-around;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .main {
    flex-direction: column;
    background-color: tomato;
  }
  .headerContainer {
    flex-direction: column;
  }
  .topnav {
    flex-wrap: wrap;
  }
}
